Q. 2 ) Build a logistic regression model for Student Score Dataset. [Marks 15

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
data = pd.read_csv("student_score.csv")
data

   index  gmat  gpa  work_experience  admmitted
0     22   520  2.3                4          0
1     20   620  3.3                2          1
2     21   670  3.3                6          1
3     23   680  3.9                4          0
4     24   610  2.7                3          0
5     15   650  3.7                6          0
6     28   650  3.7                6          1
7     24   610  2.7                3          0
8     15   650  3.7                6          0
9     28   650  3.7                6          1

In [3]:
x = data.iloc[:,1:4].values
y = data.iloc[:,4].values

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

model = LogisticRegression()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
accuracy = metrics.accuracy_score(y_test,y_pred)
print(y_pred)
print("Accuracy :{} %".format(accuracy*100))


def is_Admitted(test_data):
    return model.predict(test_data)

print(is_Admitted([[650,4.5,15]]))

[0 1 0]
Accuracy :66.66666666666666 %
[0]